<h1>新規ユーザー登録</h1>
<div>
    <%= form_tag("/users/create") do %>
    <div>
        <p>ユーザー名</p>
        <input name="name">
        <p>メールアドレス</p>
        <input name="email">
        <input type="submit" value="新規作成">
    </div>
    <% end %>
</div>